@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  :root {
    color-scheme: light;
    --color-scheme: light;
    --bg-color: #f5f5f5;
    --accent-color: #1e40af;
  }

  .dark {
    color-scheme: dark;
    --color-scheme: dark;
    --bg-color: #1a1a1a;
    --accent-color: #7d838b;
  }
}

html,
body,
* {
  transition:
    background-color 200ms ease,
    color 200ms ease,
    border-color 200ms ease,
    fill 200ms ease,
    stroke 200ms ease,
    box-shadow 200ms ease;
}

@keyframes scroll{
  0% {transform: translateX(0);}
  100% {transform: translateX(-50%);}
}




