@import "tailwindcss";

html, body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

@keyframes scroll{
  0% {transform: translateX(0);}
  100% {transform: translateX(-50%);}
}

.marquee{
  animation: scroll 12s linear infinite;
}