@import "tailwindcss";


@layer theme {
  :root {
    color-scheme: light;
    --color-scheme: light;
    --bg-color: #f5f5f5;
    --accent-color: #1e40af;
  }

  .dark {
    color-scheme: dark;
    --color-scheme: dark;
    --bg-color: #1a1a1a;
    --accent-color: #7d838b;
  }
}

html, body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

@keyframes scroll{
  0% {transform: translateX(0);}
  100% {transform: translateX(-50%);}
}

.marquee{
  animation: scroll 12s linear infinite;
}

.custom-bullet {
  @apply w-6 h-2 rounded-full bg-white/40 mx-1 transition-all;
}

.swiper-pagination-bullet-active.custom-bullet {
  @apply bg-white;
}


