name : Deploy to dist repo
on:
  push:
    branches: 
        - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            # Checkout main repo code
            - name: Checkout source repo
              uses: actions/checkout@v3

            # NodeJs Setup
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                node-version: '22'
        
            # Cache dependencies for faster builds
            - name: 'Cache node modules'
              uses: actions/setup-node@v3
              with:
                path: ~/.npm
                key: ${{runner.os}}-node-${{hashFiles('package.lock.json')}}
                restore-keys:  ${{runner}} -node-
            # Install dependencies
            - name: Install dependencies
              run: npm ci

            # Build project
            - name: Build Project
              run: npm run build

            # Deploy to GP
            - name: Deploy to Github Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                github_Token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: ./dist
                publish_branch: main
                target_repo : murigugitonga/murigugitonga.github.io
                keep_files: false # clear old build files before pushing

    