name: Deploy to dist repo

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout main repo
      - name: Checkout source repo
        uses: actions/checkout@v4

      # Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # Install deps
      - name: Install dependencies
        run: npm install
      
      # Build
      - name: Build Project
        run: npm run build

      # Deploy to separate repo
      - name: Deploy to GitHub Pages Repo
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.REPO_PUSH_TOKEN }}
          external_repository: murigugitonga/murigugitonga.github.io
          publish_branch: main
          publish_dir: ./dist
          keep_files: false
